<div [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <div class="row">
    <h2 class="h2">{{post.title}}</h2>
    <p >{{post.created_at | date:"MM/dd/yyyy , hh:mm a"}}</p>
  </div>
<div class="row">
<p>{{post.content}}</p>
</div>
<div class="row">
  <button class="btn btn-success" (click)="onAugmente(index)">Love it !</button>
  <button class="btn btn-danger" (click)="onDiminue(index)">Don't love it!</button>
  <button class="btn btn-danger" (click)="onDelete(index)">Supprimer</button>
</div>

</div>
